<div class="tinder" data-user-id="<%= current_user.id %>" data-chatroom-id="<%= current_user.chatroom_id %>">
  <div class="tinder--cards">
      <% @questions.last(@questions.count - @answers).each do |question| %>
          <div class="tinder--card" id="<%= question.id %>">
            <%= image_tag question.photo %>
             <div class="text--container">
              <h4> <%= question.content %></h4>
             </div>
          <div class="tinder--buttons">
            <%=  image_tag("arrow_final.gif", :style => 'width: 50px; height: 50px') %>
          </div>
          <div class="tinder--buttons2">
            <%=  image_tag("arrow_final.gif", :style => 'width: 50px; height: 50px') %>
          </div>
        </div>
    <% end %>

    <div class="calculating--cards hidden">
      <%= image_tag('party_4.gif', width: '400px', class: 'party--gif2') %>
      <div class="calculating hidden">
        <%= image_tag('anim.gif', width: '150px', class: 'calculating--image') %>
        <h3 class="inner-text">Nous calculons les affinités avec vos futurs amis...</h3>
        <div class="col-3">
          <div class="snippet" data-title=".dot-windmill">
            <div class="stage">
              <div class="dot-windmill">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="calculating--cards2 hidden">
      <div class="calculating2 hidden">
        <%= image_tag("party.gif", :alt => "gif fete", class: 'party--gif') %>
          <h3 class="inner-text2">Félicitations ! Vous avez trouvé un groupe d'amis !</h3>
          <p>Voici vos compagnons sélectionnés aux petits oignons !</p>
          <ul>
          <% current_user.chatroom.users.each do |user| %>
          <li><%= user.last_name %></li>
          <% end %>
          <%= link_to "Let's go !", chatrooms_path, class:"button--in" %>
        </div>
      </div>

</div>
<%= render 'pages/tab_bar'%>
