    <img src="images/logo.png">
    <div class="profiles">
      <div class="profile">
        <div class="profile__image" style="background-image: url('https://source.unsplash.com/random');"></div>
        <div class="profile__infos">
        <%= @themes.each do |theme| %>
          <%= theme.questions.each do |question| %>
          <div class="profile__name">Catégorie : <%= theme.name %></div>
          <div class="profile__description"> <%= question.content %></div>
        </div>
      </div>
<% end %>
<% end %>

    <div class="bottombar">
      <div class="bottombar__button">
        <img src="https://www.svgrepo.com/show/124149/cross-sign.svg">
      </div>
      <div class="bottombar__button2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Love_Heart_SVG.svg/2258px-Love_Heart_SVG.svg.png">
      </div>
    </div>
    <%= render 'pages/tab_bar'%>
<script src='js/hammer.min.js'></script>
<script src='js/main.js'></script>
