<div class="tinder" data-user-id="<%= current_user.id %>" data-chatroom-id="<%= current_user.chatroom_id %>">
  <div class="tinder--cards">
    <% @questions.last(@questions.count - @answers).each do |question| %>
      <div class="tinder--card" id="<%= question.id %>">
        <%= image_tag question.photo %>
          <div class="text--container">
          <h4> <%= question.content %></h4>
          </div>
        <div class="tinder--buttons">
          <%=  image_tag("arrow_final.gif", :style => 'width: 50px; height: 50px') %>
        </div>
        <div class="tinder--buttons2">
          <%=  image_tag("arrow_final.gif", :style => 'width: 50px; height: 50px') %>
        </div>
      </div>
    <% end %>

    <div class="calculating--cards hidden">
      <%= image_tag('party_4.gif', width: '1400px', class: 'party--gif2') %>
      <div class="calculating hidden">
        <%= image_tag('anim.gif', width: '150px', class: 'calculating--image') %>
        <h3 class="inner-text">Nous calculons les affinités avec vos futurs amis...</h3>
      </div>
        <div class="calculating3">
          <div class="spotify--button">
            <h3>En attendant, vous pouvez vous connecter à Spotify !</h3>
            <% if current_user.connect_spotify == nil %>
              <%= link_to '/auth/spotify', style: "text-decoration: none;" do %>
                <div class="real--button">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/800px-Spotify_logo_without_text.svg.png" alt="spotify logo" width="35px">
                  Connecter Spotify</div>
                </div>
              <% end %>
            <% else %>
              <div class="real--button">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/800px-Spotify_logo_without_text.svg.png" alt="spotify logo" width="35px">
                Spotify connecté</div>
              </div>
            <% end %>
          </div>
        </div>
    <div class="calculating--cards2 <%= 'hidden' unless current_user.in_group %>">
      <%= image_tag("party_3.gif", :alt => "gif fete", class: 'party--gif2', :style => 'width: 400px; height: 400px') %>
      <div class="calculating2 hidden">
        <h1 class="inner-text2">Félicitations ! <br> Vous avez trouvé un groupe d'amis !</h1>
        <p>Voici vos futurs compagnons sélectionnés aux petits oignons :</p>
        <div class="users hidden">
          <% unless current_user.chatroom.nil? %>
          <div class="img--container">
            <% current_user.chatroom.users.first(3).each do |user| %>
              <%= cl_image_tag(user.photo.key, :transformation=>[
                {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
                {:radius=>"max"},
                {:width=>70, :crop=>"scale"}
              ])%>
            <% end %>
          </div>
          <div class="img--container2">
            <% current_user.chatroom.users.last(2).each do |user| %>
              <%= cl_image_tag(user.photo.key, :transformation=>[
                {:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"},
                {:radius=>"max"},
                {:width=>70, :crop=>"scale"}
              ])%>
            <% end %>
          </div>
            <% end %>
        </div>
        <div class="container-button">
          <%= link_to "Let's go !", chatrooms_path, class:"button--in" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'pages/tab_bar'%>
