<div data-controller="toggle-field-registration" class="form-registration">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="email" data-toggle-field-registration-target="email">
      <progress id="file" max="100" value="12.5"></progress>
      <%= link_to root_path  do %>
        <i class="fas fa-chevron-left arrow-left"></i>
      <% end %>
      <h2>Mon adresse email</h2>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  placeholder: 'Email',
                  label: '',
                  input_html: { autocomplete: "email", class: 'input-registration', data: { action: 'keydown->toggle-field-registration#showEmail', toggle_field_registration_target: "emailin"}}%>
      <div data-toggle-field-registration-target="emailbut" data-action="click->toggle-field-registration#showEmail" class="btn btn-color none" id="next">Continuer</div>
    </div>
    <div class="password none" data-toggle-field-registration-target="password">
      <progress id="file" max="100" value="25"></progress>
        <i data-action="click->toggle-field-registration#showEmail" class="fas fa-chevron-left arrow-left" id="next"></i>
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left arrow-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
      <h2>Mon mot de passe</h2>
      <%= f.input :password,
                  required: true,
                  placeholder: 'Mot de passe',
                  label: '',
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password",  class: 'input-registration', data: { action: 'keydown->toggle-field-registration#showPassword', toggle_field_registration_target: "passwordin"}} %>
      <%= f.input :password_confirmation,
                  required: true,
                  placeholder: 'Confirmer mot de passe',
                  label: '',
                  input_html: { autocomplete: "new-password", class: 'input-registration', data: { action: 'keydown->toggle-field-registration#showPassword', toggle_field_registration_target: "passwordconfin"} } %>
      <div data-toggle-field-registration-target="passwordbut" data-action="click->toggle-field-registration#showPassword" class="btn btn-color none" id="next">Continuer</div>
    </div>
    <div class="none" data-toggle-field-registration-target="name">
      <progress id="file" max="100" value="37.5"></progress>
      <i data-action="click->toggle-field-registration#showPassword" class="fas fa-chevron-left arrow-left" id="next"></i>
      <%= f.input  :first_name,
                   placeholder: 'Prénom',
                   label: '',
                   input_html: { class: 'input-registration' }%>
      <%= f.input  :last_name,
                   placeholder: 'Nom',
                   label: '',
                   input_html: { class: 'input-registration', data: { action: 'keydown->toggle-field-registration#showName' , toggle_field_registration_target: "namein"} }%>
      <div data-toggle-field-registration-target="namebut" data-action="click->toggle-field-registration#showName" class="btn btn-color none" id="next">Continuer</div>
    </div>
    <div class="none" data-toggle-field-registration-target="gender">
      <progress id="file" max="100" value="50"></progress>
      <i data-action="click->toggle-field-registration#showName" class="fas fa-chevron-left arrow-left" id="next"></i>
      <%= f.input  :gender,
                   placeholder: 'Genre',
                   label: '',

                   input_html: { class: 'input-registration', data: { action: 'keydown->toggle-field-registration#showGender', toggle_field_registration_target: "genderin"} }%>
                   collection: %w[homme femme autre],
                   include_blank: 'Genre',
                   input_html: { class: 'input-registration', data: { action: 'keydown->toggle-field-registration#showCity'} }%>
      <div data-toggle-field-registration-target="genderbut" data-action="click->toggle-field-registration#showGender" class="btn btn-color none" id="next">Continuer</div>
    </div>
    <div class="none" data-toggle-field-registration-target="city">
      <progress id="file" max="100" value="62.5"></progress>
      <i data-action="click->toggle-field-registration#showGender" class="fas fa-chevron-left arrow-left" id="next"></i>
      <%= f.input  :city,
                   placeholder: 'Ville',
                   label: '',
                   input_html: { class: 'input-registration', data: { action: 'keydown->toggle-field-registration#showCity', toggle_field_registration_target: "cityin"} }%>
      <div data-toggle-field-registration-target="citybut" data-action="click->toggle-field-registration#showCity" class="btn btn-color" id="next">Continuer</div>
    </div>
    <div class="none" data-toggle-field-registration-target="birthday">
      <progress id="file" max="100" value="75"></progress>
      <i data-action="click->toggle-field-registration#showCity" class="fas fa-chevron-left arrow-left" id="next"></i>
      <%= f.input  :birthday,
                   placeholder: 'Anniversaire',
                   label: '',
                   :as => :date, :start_year => Date.today.year - 90,
                   :end_year => Date.today.year - 18,
                   :order => [:day, :month, :year],
                   input_html: { class: 'input-registration', data: { action: 'keydown->toggle-field-registration#showPhoto'} }%>
       <div data-toggle-field-registration-target="birthdaybut" data-action="click->toggle-field-registration#showPhoto" class="btn btn-color" id="next">Continuer</div>
    </div>
    <div class="none" data-toggle-field-registration-target="photo">
      <progress id="file" max="100" value="87.5"></progress>
      <i data-action="click->toggle-field-registration#showBirthday" class="fas fa-chevron-left arrow-left" id="next"></i>
      <%= f.input  :photo, as: :file %>
      <div class="form-actions">
        <%= f.button :submit, "Terminer", class: 'btn btn-color', disabled: true,  id: 'submit', data: { :toggle_field_registration_target => "submit" }%>
      </div>
    </div>
  </div>

<% end %>
</div>
