<div class="chat-global">

  <div class="nav-top">
    <%= link_to chatrooms_path, class: 'back' do %>
      <div class="location">
          <i class="fas fa-chevron-left"></i>
          <p>Back</p>
      </div>
    <% end %>

    <div class="utilisateur">
      <p><%= @chatroom.name %></p>
    </div>

    <div class="logos-call">
      <img src="">
      <img src="">
    </div>
  </div>

  <div class="conversation">
    <% @chatroom.messages.each do |message| %>
      <% if message.user == current_user %>
          <%= render 'messages/my_message', message: message %>
      <% else %>
         <%= render 'messages/message', message: message %>
      <% end %>
    <% end %>
  </div>
  <%= form_for [ @chatroom, @message ], html: {class: 'chat-form'}, id: 'form-message', remote: true do |f| %>

    <div class="container-inputs-stuffs">
      <div class="group-inp">
<!--        <textarea placeholder="Enter your message here" minlength="1" maxlength="1500"></textarea>-->
        <%= f.text_field :content, label: false, placeholder: "Enter your message here"%>
        <i class="far fa-grin-beam"></i>
      </div>
      <button class="submit-msg-btn">
        <i class="far fa-paper-plane"></i>
      </button>
    </div>
  <% end %>
</div>