<div class="chat-global" data-controller="modal" id="chatGlobal">

  <div class="nav-top">
    <div class="fake">

    </div>
    <!-- Trigger/Open The Modal -->
    <div class="utilisateur">
      <p><%= @chatroom.name %></p>
    </div>
<!--    <div class="chat-infos">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </div>-->
    <div class="dropdown">
      <input type="checkbox" id="dropdown">

      <label class="dropdown__face" for="dropdown">
        <div class="dropdown__arrow">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 points" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg>
        </div>
      </label>

      <ul class="dropdown__items">

        <li>🙂</li>
        <li>😺</li>
        <li>😽</li>
        <li>😎</li>
        <li>🤗</li>
      </ul>
    </div>

  </div>


  <div class="conversation" >
    <div class="chatarea" id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <% if message.user == current_user %>
          <%= render 'messages/my_message', message: message %>
        <% else %>
          <%= render 'messages/message', message: message %>
        <% end %>
      <% end %>
    </div>
  </div>


  <%= simple_form_for [ @chatroom, @message ], html: {class: 'chat-form'}, remote: true, id: 'form-message' do |f| %>
    <div class="container-inputs-stuffs" data-bot-target="form">
      <div class="group-inp">
        <%= f.text_field :content, label: false, placeholder: "Enter your message here"%>
        <i class="far fa-grin-beam"></i>
      </div>
<!--      <div class="bot-btn" data-action="click->bot#proposition">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path d="M17.218,2.268L2.477,8.388C2.13,8.535,2.164,9.05,2.542,9.134L9.33,10.67l1.535,6.787c0.083,0.377,0.602,0.415,0.745,0.065l6.123-14.74C17.866,2.46,17.539,2.134,17.218,2.268 M3.92,8.641l11.772-4.89L9.535,9.909L3.92,8.641z M11.358,16.078l-1.268-5.613l6.157-6.157L11.358,16.078z"></path>
        </svg>
      </div>-->
      <button class="submit-msg-btn" data-controller="keep">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path d="M17.218,2.268L2.477,8.388C2.13,8.535,2.164,9.05,2.542,9.134L9.33,10.67l1.535,6.787c0.083,0.377,0.602,0.415,0.745,0.065l6.123-14.74C17.866,2.46,17.539,2.134,17.218,2.268 M3.92,8.641l11.772-4.89L9.535,9.909L3.92,8.641z M11.358,16.078l-1.268-5.613l6.157-6.157L11.358,16.078z"></path>
        </svg>
      </button>
    </div>
  <% end %>

  <div class="propositions none">
    <div class="proposition"></div>
    <div class="proposition"></div>
    <div class="proposition"></div>
  </div>
  <%= render 'pages/tab_bar'%>
</div>
