<div class="container-login">
  <%= link_to root_path  do %>
    <i class="fas fa-chevron-left arrow-left"></i>
  <% end %>
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  label: false,
                  required: false,
                  autofocus: true,
                  placeholder: 'Email',
                  input_html: { autocomplete: "email",
                                class: 'input-registration'} %>
      <div class="password-container">
        <%= f.input :password,
                    required: false,
                    label: false,
                    placeholder: 'Mot de passe',
                    input_html: { autocomplete: "current-password",
                                  class: 'input-registration',
                                  id: 'password-session'} %>
        <%= render "devise/shared/links" %>
      </div>
      <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn btn-color' %>
    </div>
  <% end %>

</div>
